BACKEND_HOST=127.0.0.1
BACKEND_PORT=8000

VIOLENCE_THRESHOLD=0.70
MIN_CONSECUTIVE_POSITIVE=3
EVENT_COOLDOWN_SECONDS=10

INFERENCE_FPS=5
EVIDENCE_CLIP_SECONDS_BEFORE=5
EVIDENCE_CLIP_SECONDS_AFTER=5

VIDEO_DIR=./videos
LOCAL_DATA_DIR=./local_data
MODEL_DIR=./backend/app/models/movinet
